Source: fonts-hack
Section: font
Priority: optional
Maintainer: chuan-boss <20373767@buaa.edu.cn>
Build-Depends: debhelper (>=11)
Standards-Version: 4.1.3
Homepage: https://github.com/source-foundry/Hack

Package: fonts-hack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hack
  Hack is designed to be a workhorse typeface for source code.
